<form [formGroup]="otpForm" class="mt-5">
  <div class="card-header">
    <h1 class="text-center text-white">OTP Verification</h1>
  </div>
  <div class="card">
    <div class="d-flex align-items-center justify-content-center">
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Enter Email Address</mat-label>
        <input
          formControlName="email"
          matInput
          placeholder="Enter Your Email"
        />
      </mat-form-field>
    </div>

    <!-- otp  -->
    <div class="d-flex align-items-center justify-content-center">
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>OTP</mat-label>
        <input formControlName="otp" matInput placeholder="Enter OTP" />
      </mat-form-field>
    </div>
    <!-- otp -->

    <br />
    <div class="d-flex align-items-center justify-content-center">
      <div mat-dialog-action [align]="'center'">
        <button mat-raised-button color="primary" (click)="submitOtp()">
          Verify
        </button>
      </div>
    </div>
  </div>
</form>
