<div class="bg-color">
  <form [formGroup]="passwordChangeForm" class="mt-5">
    <div class="card-header">
      <h1 class="text-center text-white">Change Password</h1>
    </div>
    <div class="card">
      <!-- password -->

      <div class="d-flex align-items-center justify-content-center">
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Enter Your Email</mat-label>
          <input
            formControlName="email"
            matInput
            placeholder="Re-enter Your Email"
          />
        </mat-form-field>
      </div>

      <div class="d-flex align-items-center justify-content-center">
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Enter Password</mat-label>
          <input
            type="password"
            formControlName="password"
            matInput
            placeholder="Enter Your Password"
          />
        </mat-form-field>
      </div>
      <!-- password end -->

      <!-- Retype password  -->
      <div class="d-flex align-items-center justify-content-center">
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Confirm Password</mat-label>
          <input
            type="password"
            formControlName="confirmpassword"
            matInput
            placeholder="Re-enter Password"
          />
        </mat-form-field>
      </div>
      <!-- Retype password end -->

      <div mat-dialog-action [align]="'center'">
        <button mat-raised-button color="primary" (click)="changePassword()">
          Register
        </button>
      </div>
    </div>
  </form>
</div>
