<mat-toolbar color="light">
  <mat-toolbar-row>
    <span>Second Line</span>
    <span class="example-spacer"></span>
    <button mat-button routerLink="/">Home</button>
    <button mat-button routerLink="/contact">contact</button>
    <button mat-button routerLink="/contactInfo">contactInfo</button>
    <button
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with share icon"
    >
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>
