.d-flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}
.justify-content-center {
  justify-content: center;
}

.card-header {
  background: rgb(69, 107, 245);
  margin-right: 550px;
  margin-left: 550px;
  padding: 0.6rem;
}

.card {
  background: white;
  margin-right: 550px;
  margin-left: 550px;
  margin-bottom: 40px;
  padding: 2rem;
  border: 1px solid blue;
}
.text-primary {
  color: rgb(24, 67, 67);
}
